.project-card {
  height: 250px;
  width: 300px;
}

.project-image {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  height: 150px;
  width: 100%;
  transition-duration: 0.2s;
}

.project-image:hover {
  opacity: 0.5;
}

.project-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 5px;
}

.project-name {
  align-self: end;
  justify-self: start;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.project-available-credits {
  align-self: end;
  justify-self: end;
  font-family: "Exo 2";
  font-size: 14px;
  font-weight: bold;
}

.project-start-date {
  align-self: center;
  justify-self: end;
  font-family: "Roboto";
  font-size: 12px;
}

.project-purchase-button {
  grid-row-start: 2;
  align-self: end;
  justify-self: start;
  color: whitesmoke;
  width: 90px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
  padding: 4px;
  border: none;
  text-align: center;
  text-transform: capitalize;
  border-radius: 20px;
  transition-duration: 0.2s;
}

.project-purchase-button.purchase {
  background-color: #49d69d;
}

.project-purchase-button.purchase:hover {
  background-color: sandybrown;
}

.project-purchase-button.purchased {
  background-color: #f87c5d;
}

.project-purchase-button.purchased:hover {
  background-color: sandybrown;
}
