.app-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Exo 2";
  font-size: 50px;
  font-weight: bold;
}

.util-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}
